body {
  margin: 0;
  overflow: hidden;
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
}

#menu {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  top: 50px;
}

h1 {
  font-size: 70px;
  color: #00ffcc;
  margin-bottom: 10px;
}

button {
  padding: 15px 40px;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  background: #00ffcc;
  cursor: pointer;
}

button:hover {
  background: #00ccaa;
}

.controls {
  margin-top: 30px;
}

canvas {
  display: block;
}
